@import url(animations.css);
@import url("popup.css");

* {
    border: 2px solid black;
}

body {
    padding: 0;
    margin: 0;
  }

.content{
    display:flex;
    flex-wrap: nowrap;

}

.spicy {
width: 30%;

}
.main {
    display: flex;
    flex-direction: row;
}
.add {
    flex: 3;
}
.friends{
    display:flex;
}
.friends__first{
    width: 300px;
}
.friends__second{
    width:150px;
}
.friends__third{
    width:45px;
}