@import url(animations.css);



.title{
    animation-name:fontalicious;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}


.spicyPic{
    animation-name: twister;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    width: 15rem;

}

.title__top{
    animation-name: tremble;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}