

@import url(animations.css);
@import url("popup.css");

body {
    padding: 0;
    margin: 0;
    color: orange;
    -moz-background-clip: padding-box;
    background-color: rgb(238, 104, 209);
    background-attachment:;
  }


.title{
    animation-name:fontalicious;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}


.spicyPic{
    animation-name: twister;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    width: 15rem;

}

.title__top{
    animation-name: tremble;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.ads{
    animation-name: intensifies;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.content{
    display:flex;
    flex-wrap: nowrap;
    background-color: palegoldenrod;
}

.spicy {
width: 120px;

}
.main {
    display: flex;
    flex-direction: row;
}
.add {
    flex: 3;
    background-color: yellowgreen;
}
  

